<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link rel="stylesheet" href="stylesheet.css">

</head>
<body>

    <div class="innerBody">

        <div class="subHeadingDiv">
            <h1 class="caption">List of all courses</h1>
            <button class="addButton" onclick="openCreateDialog()">Add new course</button>
        </div>

    <table class="table">

            <colgroup>
                <col class="column" />
                <col class="column" />
                <col class="column" />
                <col class="column" />
                <col class="column" />
            </colgroup>

            <thead class="tableRow">
                <tr>
                    <th class="tableHeader" style="width: 0"></th>
                    <th class="tableHeader" style="width: 20%">Code</th>
                    <th class="tableHeader" style="width: 50%">Name</th>
                    <th class="tableHeader" style="width: 30%">Department</th>
                    <th class="tableHeader" style="width: 0">Action</th>
                </tr>
    
                </thead>
                <tbody>
                <tr class="tableRow" th:each="course: ${courses}" >
                    <td th:text="${course.id}" class="tableText"></td>
                    <td th:text="${course.code}" class="tableText"></td>
                    <td th:text="${course.name}" class="tableText"></td>
                    <td th:text="${course.department}" class="tableText"></td>
                    <td class="tableBox">

                        <a href="#"
                           th:data-code="${course.code}"
                           th:data-name="${course.name}"
                           th:data-department="${course.department}"
                           th:onclick="|openEditDialog(${course.id},this.getAttribute('data-code'),this.getAttribute('data-name'),this.getAttribute('data-department'))|"
                           target="frame"
                           class="optionLink">
                            <div class="action">
                                <img src="/svg/edit_icon.svg">
                                <h1>Edit</h1>
                            </div>
                        </a>



                        <a th:href="|http://localhost:8080/departments/delete/${course.id}|"
                           target="frame"
                           class="optionLink">
                            <div class="actionDelete">
                                <img src="/svg/delete_icon.svg">
                            </div>
                        </a>

                    </td>
                </tr>
                </tbody>
    </table>
    <dialog id="dialog" class="dialog" style="visibility: collapse">

        <form name="submitForm" id="submitForm" class="form" method="post">

            <h1 class="formHeader">Create new course</h1>
            <label class="label" for="name">Name</label>
            <input class="formInput" type="text" id="name" name="name" required><br><br>
            <label  class="label" for="code">Code</label>
            <input  class="formInput"  type="text" id="code" name="code" required><br><br>
            <input  type="hidden" id="department" name="department" th:value="${defaultID}" required>
            <label  class="label" for="dept">Department</label>
            <select onchange="setInput()" id="dept" class="selectInput">
                <option th:each="department:${departments}" th:value="${department.id}" th:text="${department.name}"></option>
            </select>

            <div class="dialogDiv">
                <a href="http://localhost:8080/courses">
                    <button class="outlineButton" type="button">Cancel</button>
                </a>
                <input  style="grid-column: 2" class="button" type="submit" value="Submit">
            </div>
        </form>


    </dialog>

    </div>

<script>

    function openEditDialog(id,code,name,department){

        if(document.getElementById('department').value!=="") {
            document.submitForm.action="http://localhost:8080/courses/update/" + id;
            document.getElementById('code').value=code;
            document.getElementById('name').value=name;
            for(let i=0; i<document.getElementById('dept').options.length; i++){
                if(document.getElementById('dept').options[i].text===department){
                    document.getElementById('dept').selectedIndex=i;
                    break;
                }
            }
            document.getElementById('dialog').style.visibility='visible';
        }else{
            alert("You need to create at least 1 department before creating courses");
        }

    }

    function openCreateDialog(){
        if(document.getElementById('department').value!=="") {
            document.submitForm.action="http://localhost:8080/courses/add_course";
            document.getElementById('dialog').style.visibility='visible';
        }else{
            alert("You need to create at least 1 department before creating courses");
        }

    }

    function setInput(){
        document.getElementById('department').value=document.getElementById('dept').value;
    }


</script>
</body>
</html>