<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Departments</title>
    <link rel="stylesheet" href="stylesheet.css">

</head>
<body>

    <div class="innerBody">

        <div class="subHeadingDiv">
            <h1 class="caption">List of all venues</h1>
            <button class="addButton" onclick="openCreateDialog()">Add new venue</button>
        </div>

    <table class="table">

            <colgroup>
                <col class="column" />
                <col class="column" />
                <col class="column" />
                <col class="column" />
            </colgroup>

            <thead class="tableRow">
            <tr>
                <th class="tableHeader" style="width: 0"></th>
                <th class="tableHeader" style="width: 60%">Name</th>
                <th class="tableHeader" style="width: 40%">Code</th>
                <th class="tableHeader" style="width: 0">Action</th>
            </tr>

            </thead>
            <tbody>
            <tr class="tableRow" th:each="venue: ${venues}" >
                <td th:text="${venue.id}" class="tableText"></td>        
                <td th:text="${venue.name}" class="tableText"></td>
                <td th:text="${venue.code}" class="tableText"></td>
                <td class="tableBox">

                    <a href="#"
                       th:data-name="${venue.name}"
                       th:data-code="${venue.code}"
                       th:onclick="|openEditDialog(${venue.id},this.getAttribute('data-name'),this.getAttribute('data-code'))|"
                       target="frame"
                       class="optionLink">
                        <div class="action">
                            <img src="/svg/edit_icon.svg">
                            <h1>Edit</h1>
                        </div>
                    </a>



                    <a th:href="|http://localhost:8080/venues/delete/${venue.id}|"
                       target="frame"
                       class="optionLink">
                        <div class="actionDelete">
                            <img src="/svg/delete_icon.svg">
                        </div>
                    </a>

                </td>
            </tr>
            </tbody>
    </table>
    <dialog id="dialog" class="dialog" style="visibility: collapse">

        <form name="submitForm" id="submitForm" class="form" method="post">

            <h1 class="formHeader">Create new venue</h1>
            <label class="label" for="name">name</label>
            <input class="formInput" type="text" id="name" name="name" required><br><br>
            <label  class="label" for="code">code</label>
            <input  class="formInput"  type="text" id="code" name="code" required><br><br>
            <div class="dialogDiv">
              <a href="http://localhost:8080/venues">
                <button class="outlineButton" type="button">Cancel</button>
              </a>
              <input  style="grid-column: 2" class="button" type="submit" value="Submit">
            </div>
        </form>


    </dialog>

    </div>

<script>

    function openEditDialog(id,name,code){
        document.submitForm.action="http://localhost:8080/venues/update/" + id;
        document.getElementById('name').value=name;
        document.getElementById('code').value=code;
        document.getElementById('dialog').style.visibility='visible';

    }

    function openCreateDialog(){
        document.submitForm.action="http://localhost:8080/venues/add_venue";
        document.getElementById('dialog').style.visibility='visible';
    }
</script>
</body>
</html>